<!--コメント投稿フォーム-->
<div>
<%= form_with model: [book, new_book_comment], id: "js_form", local: false do |f| %><!--form_withは『local: fales』-->
  <div class="form-group">
    <%= f.text_area :comment, rows: '4', class: 'form-control book_title' %>
  </div>
  <%= f.submit "送信" %>
<% end %>
</div>